!!!
html
  meta('charset=utf8')
  base(href='/')
  title=page_title
  link(rel='stylesheet', href='app.css')

  body
    div.container
      block content
    script(src='http://codeorigin.jquery.com/jquery-2.0.3.min.js')
    script(src='/geo.js', type='text/javascript', charset='utf-8')
    script(src='/ascii_chan.js', type='text/javascript', charset='utf-8')